[user]
	user = wajeht
	email = 58354193+wajeht@users.noreply.github.com
	name = wajeht
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[http]
	postBuffer = 157286400
[pull]
	rebase = true
[init]
	defaultBranch = main
[alias]
    undo = reset --soft HEAD^
