[user]
	# User information
	user = wajeht
	email = 58354193+wajeht@users.noreply.github.com
	name = wajeht

[filter "lfs"]
	# Git LFS configuration
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[push]
	# Automatically set up remote tracking branches when pushing
	autoSetupRemote = true

[http]
	# Increase the buffer size for HTTP operations
	postBuffer = 524288000

	# Increase the buffer size for ssh operations
[ssh]
	postBuffer = 524288000

[pull]
	# Always rebase when pulling
	rebase = true

[init]
	# Set the default branch name to 'main' when initializing new repositories
	defaultBranch = main

[alias]
	# Aliases for common Git commands
	push = push --no-verify               # Push without verifying
	discard = restore .                   # Discard all the staged changes
	undo = reset --soft HEAD^             # Undo the last commit, keeping changes staged
	aicommit = "!f() { curl -s https://commit.jaw.dev/ | sh -s -- --no-verify; }; f"		# Use my server to generate conventional commits
	auto = "!f() { git add -A && git aicommit && git push --no-verify ; }; f"        		# Add, Commit, and Push
    pr-comments = "!f() { \
        gh api repos/$(gh repo view --json owner,name --jq '.owner.login + \"/\" + .name')/pulls/$(gh pr view --json number --jq '.number')/comments \
        --jq '.[] | [.path, (.line | tostring), .user.login, .body] | @tsv' | \
        column -t -s$'\t' | \
        awk '{print \"\\033[1;34m\" $1 \"\\033[0m\", \"\\033[1;33m\" $2 \"\\033[0m\", \"\\033[1;32m\" $3 \"\\033[0m\", substr($0, index($0,$4))}'; \
    }; f"
	diff-all = "!f() { \
        git -c color.diff=always --no-pager diff main... && \
        git -c color.diff=always --no-pager diff && \
        git -c color.diff=always --no-pager diff --cached \
    ) | tee /dev/tty | pbcopy; }; f"

[core]
	# Set the default text editor for Git commands
	editor = vim
	# Handle line endings
	autocrlf = input
	# Global gitignore file
	excludesfile = ~/.gitignore_global

[diff]
	# Set the default tool for diff operations
	tool = vimdiff

[difftool]
	# Don't prompt when using difftool
	prompt = false

[merge]
	# Set the default tool for merge operations
	tool = vimdiff

[mergetool]
	# Don't keep backup files after a merge
	keepBackup = false

[color]
	# Enable color output for Git commands
	ui = auto

[credential]
	# Cache credentials for an hour (3600 seconds)
	helper = cache
	cacheTimeout = 3600
